{
  "presets": ["@babel/preset-env","@babel/preset-react"],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties",
    [
     "@babel/plugin-transform-react-jsx",
    {
    "runtime": "automatic"
    }
    ]
  ],
  "env": {
    "test": {
      "plugins": ["transform-require-context", "require-context-hook"]
    }
  }
}
