* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-color: rgb(222, 49, 99);
  color: #fff;
  font-size: 1.5rem;
}

.setting {
  font-size: 2rem;
}

#headline {
  padding: 5rem;
  background: url('../../Images/world-map.png') no-repeat 30% 50% #d70040;
  background-size: 35% 70%;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  top: 0;
}

.topic {
  color: #fff;
  width: 65%;
  text-align: end;
  margin-left: 10rem;
}
