#countries-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

.country-card {
  transition: all 200ms ease;
}

.country-card:hover {
  z-index: 10;
  transform: scale(1.05);
}

#countries-container > .country-card:nth-child(even) {
  background: rgb(222, 49, 99);
  outline: 2px solid #d70040;
}

#countries-container > .country-card:nth-child(odd) {
  background: #d70040;
  outline: 2px solid rgba(238, 50, 81, 0.916);
}

.country-names {
  font-size: 1.5rem;
  color: #fff;
}

.loading {
  margin: 1rem 50%;
}
