@import url('https://fonts.cdnfonts.com/css/lato');

body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

#loading {
  margin: 2rem auto;
}
